body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px; 
    border: 2px solid white; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
}

header nav ul li a:hover {
    background-color: white;
    color: #007bff; 
    text-decoration: none;
    transition: 0.5s;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flexbox div {
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #000;
}
.btn-vermelho {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}